@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
/* Base styles */
@layer base {
  body {
    @apply transition-colors duration-200;
  }
}

/* Dark mode transitions */
.dark {
  color-scheme: dark;
}

/* Ensure smooth transitions for theme changes */
*,
::before,
::after {
  transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out;
}

/* Prevent transition on page load */
.preload * {
  transition: none !important;
}
=======
/* in index.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
>>>>>>> 1b5c486f02108dde67b53c5e5f4df1547fd6128d
